.account {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  padding: 10px;
}

.initials {
  background-color: var(--darkBlue-color);
  padding: 8px 7px 11px 7px;
  border-radius: 50%;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: var(--gray-color);
  filter: opacity(0.7);
}

.fullName {
  color: var(--primary-color);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--darkBlue-color);
}

.closeButton:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@media (max-width: 600px) {
  .account {
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .closeButton {
    display: none;
  }
  .initials {
    color: var(--darkBlue-color);
    background-color: var(--white-color);
  }
  .greeting {
    font-size: 1.7rem;
    display: flex;
    text-align: end;
    filter: opacity(1);
    color: var(--white-color);
  }
  .fullName {
    width: 100%;
    color: var(--darkBlue-color);
  }
}
