.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 10px;
}

.category__title {
  display: flex;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 1vw;
  color: #034566;
  margin-left: 4vw;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: none;
  cursor: pointer;
  padding: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 20px;
}

.container--card {
  height: 250px;
  margin-inline: 8px;
  background-color: #fff;
  border-radius: 0.5vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  min-width: 350px;
  max-width: 450px;
}

.container--cardSelected {
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.2);
}

.container--card:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  background-color: hwb(190 81% 2%);
}

.container--cardSelected:hover {
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.2);
}
.container--card--image_url {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 6px;
  min-height: 200px;
}

.container--card--nameCategory {
  font-weight: 700;
  font-size: 20px;
  color: var(--darkBlue-color);
  padding: 3px 11px 3px;
}
.container--card--descriptions {
  font-weight: 700;
  font-size: 14px;
  color: var(--darkBlue-color);
  opacity: 0.6;
  padding: 0 11px 3px;
}
